.dashboard{
  display:flex;
  min-height:100vh;
  background:#f4f6fb;
}

/* =========================
   SIDEBAR
========================= */

.sidebar{
  width:260px;
  background:linear-gradient(
    180deg,
    #18344d 0%,
    #0f2436 100%
  );

  color:white;

  transition:.3s;

  box-shadow:
    4px 0 20px rgba(0,0,0,.12);
}

.sidebar.collapsed{
  width:85px;
}

/* =========================
   HEADER
========================= */

.sidebar-header{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;

  padding:24px 20px;

  border-bottom:
    1px solid rgba(255,255,255,.08);
}

.logo-text h2{
  margin:0;
  font-size:28px;
  font-weight:700;
  line-height:1;
}

.logo-text span{
  font-size:13px;
  opacity:.8;
}

.portal-link{
  text-decoration:none;
  color:white;
  display:block;
  transition:.25s;
}

.portal-link:hover{
  transform:translateX(4px);
}

.portal-link h2,
.portal-link span{
  color:white;
}

/* =========================
   TOGGLE BUTTON
========================= */

.toggle-btn{
  width:42px;
  height:42px;

  border:none;
  border-radius:12px;

  background:
    rgba(255,255,255,.08);

  color:white;

  font-size:22px;

  cursor:pointer;
  transition:.25s;
}

.toggle-btn:hover{
  background:#2563eb;
}

/* =========================
   TITLE
========================= */

.menu-title{
  padding:20px;

  text-align:center;

  font-size:12px;
  font-weight:600;

  letter-spacing:1px;

  color:#c4ccd4;

  border-bottom:
    1px solid rgba(255,255,255,.08);
}

/* =========================
   MENU
========================= */

.menu-list{
  display:flex;
  flex-direction:column;
  padding:12px;
}

.menu-list a{
  display:flex;
  align-items:center;
  gap:15px;

  margin-bottom:10px;

  padding:14px;

  border-radius:14px;

  color:white;
  text-decoration:none;

  transition:.25s;
}

.menu-list a:hover{
  background:
    rgba(255,255,255,.08);

  transform:translateX(5px);
}

/* menu aktif */

.menu-list a.active{
  background:#2563eb;
  box-shadow:
    0 5px 15px rgba(37,99,235,.35);
}

/* =========================
   ICON
========================= */

.icon{
  width:42px;
  height:42px;

  display:flex;
  justify-content:center;
  align-items:center;

  border-radius:12px;

  background:
    rgba(255,255,255,.08);

  font-size:20px;

  flex-shrink:0;
}

.menu-list a:hover .icon{
  background:
    rgba(255,255,255,.15);
}

.menu-list a.active .icon{
  background:
    rgba(255,255,255,.2);
}

.text{
  font-size:16px;
  font-weight:500;
}

/* =========================
   CONTENT
========================= */

.content{
  flex:1;
  padding:40px;
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width:768px){

  .sidebar{
    width:85px;
  }

  .sidebar .text,
  .sidebar .menu-title,
  .sidebar .logo-text{
    display:none;
  }

  .content{
    padding:20px;
  }

  .menu-list a{
    justify-content:center;
  }
}