.skbt-page{
  width:100%;
  max-width:none;
  padding:30px;
  box-sizing:border-box;
  animation:fadePage .8s ease;
}

@keyframes fadePage{
  from{
    opacity:0;
    transform:translateY(10px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }
}

/* HEADER */

.page-header{
  background:linear-gradient(
    135deg,
    #163b67,
    #2563eb
  );

  color:white;

  border-radius:24px;

  padding:35px;

  display:flex;
  align-items:center;
  gap:25px;

  margin-bottom:25px;

  box-shadow:0 10px 25px rgba(37,99,235,.15);
}

.header-icon{
  width:70px;
  height:70px;

  border-radius:18px;

  background:rgba(255,255,255,.15);

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:32px;
}

.page-header h1{
  margin-bottom:8px;
}

/* INFO */

.info-card{
  background:#fff;

  padding:30px;

  border-radius:24px;

  margin-bottom:30px;

  box-shadow:0 8px 20px rgba(0,0,0,.05);
}

.info-card h2{
  color:#16345d;
  margin-bottom:15px;
}

.info-card p{
  color:#64748b;
  line-height:1.8;
}

/* GRID LAYANAN */

.skbt-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:30px;

  width:100%;
}

/* CARD */

.skbt-card{
  background:white;

  border-radius:24px;

  padding:40px;

  min-height:320px;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  text-align:center;

  cursor:pointer;

  transition:.3s;

  box-shadow:
    0 8px 20px rgba(0,0,0,.05);
}

.skbt-card:hover{
  transform:translateY(-6px);

  box-shadow:
    0 15px 35px rgba(37,99,235,.15);
}

/* ICON */

.skbt-icon{
  width:85px;
  height:85px;

  border-radius:22px;

  background:#eff6ff;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:42px;

  margin-bottom:20px;
}

/* TEXT */

.skbt-card h3{
  color:#16345d;

  font-size:32px;

  margin-bottom:15px;
}

.skbt-card p{
  color:#64748b;

  line-height:1.8;

  margin-bottom:20px;

  max-width:420px;
}

/* BUTTON */

.skbt-btn{
  background:#2563eb;
  color:white;

  border:none;

  padding:12px 28px;

  border-radius:12px;

  font-size:15px;
  font-weight:600;

  cursor:pointer;

  transition:.25s;
}

.skbt-btn:hover{
  background:#1d4ed8;
}

/* RESPONSIVE */

@media(max-width:768px){

  .skbt-grid{
    grid-template-columns:1fr;
  }

  .page-header{
    flex-direction:column;
    text-align:center;
  }
}