*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#eef1f5;
}

html,
body,
#root{
  width:100%;
  margin:0;
  padding:0;
}

.app{
  width:100%;
  min-height:100vh;
}

/* NAVBAR */

.navbar{
  background:white;
  padding:20px 60px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  box-shadow:0 2px 10px rgba(0,0,0,.08);

  position:sticky;
  top:0;
  z-index:100;
}

.logo-section{
  display:flex;
  align-items:center;
  gap:15px;
}

.logo-section img{
  width:55px;
}

.logo-section h2{
  color:#2f3a4c;
}

.menu{
  display:flex;
  align-items:center;
  gap:35px;
}

.menu a{
  text-decoration:none;
  color:#444;
  font-size:18px;
}

.login-btn{
  background:#4285f4;
  color:white;
  border:none;
  padding:14px 25px;
  border-radius:10px;
  cursor:pointer;
  font-size:16px;
}

/* HERO */

.hero-banner{
  min-height:500px;

  background:linear-gradient(
    135deg,
    #fff8d6,
    #ffffff,
    #ffe59a
  );

  display:flex;
  justify-content:center;
  align-items:center;
  gap:80px;

  padding:50px;
}

.hero-logo img{
  width:260px;
}

.hero-text h1{
  font-size:55px;
  color:#000;
}

.hero-text h2{
  font-size:95px;
  font-weight:900;
  color:#000;
}

.hero-text p{
  font-size:30px;
  color:#666;
}

/* SERVICES */

.services{
  padding:70px 60px;
}

.services h2{
  text-align:center;
  font-size:50px;
  color:#16345d;
  margin-bottom:50px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:30px;
}

.card{
  background:white;
  border-radius:20px;

  min-height:220px;

  padding:35px;

  text-align:center;

  box-shadow:0 5px 15px rgba(0,0,0,.08);

  transition:.3s;

  cursor:pointer;
}

.card:hover{
  transform:translateY(-8px);
}

.icon{
  font-size:55px;
  margin-bottom:20px;
}

.card h3{
  line-height:1.5;
  color:#1f2d44;
}

/* FOOTER */

.footer{
  background:#1f2d44;
  color:white;

  text-align:center;

  padding:80px 20px;
}

.footer h2{
  font-size:42px;
  margin-bottom:20px;
}

.footer p{
  margin:10px 0;
}

.footer h3{
  margin-top:20px;
}

.wa-btn{
  margin-top:25px;

  background:#22c55e;

  color:white;

  border:none;

  padding:16px 40px;

  border-radius:10px;

  cursor:pointer;

  font-size:16px;
}

.address{
  margin-top:35px;
  opacity:.8;
}

/* RESPONSIVE */

@media(max-width:1000px){

  .grid{
    grid-template-columns:repeat(2,1fr);
  }

  .hero-banner{
    flex-direction:column;
    text-align:center;
  }

  .hero-text h2{
    font-size:60px;
  }
}

@media(max-width:700px){

  .grid{
    grid-template-columns:1fr;
  }

  .navbar{
    flex-direction:column;
    gap:20px;
  }

  .menu{
    flex-wrap:wrap;
    justify-content:center;
  }
}