:root {
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;

  font-family: var(--sans);

  color: #1e293b;
  background: #eef1f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body{
  width:100%;
  min-height:100vh;

  background:#eef1f5;

  overflow-x:hidden;
}

body{
  font-family:"Segoe UI", sans-serif;
}

#root{
  width:100%;
  min-height:100vh;

  margin:0;
  padding:0;
}

a{
  text-decoration:none;
  color:inherit;
}

button,
input,
textarea,
select{
  font:inherit;
}

img{
  max-width:100%;
  display:block;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin:0;
  font-weight:inherit;
}

p{
  margin:0;
}

ul,
ol{
  list-style:none;
}